/* banner */

.main__banner,
.sub__banner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main__banner .main__banner-image {
  width: 100%;
  height: 300px;
  background-color: #eeeeee;
}

.sub__banner .sub__banner-image {
  width: 100%;
  height: 300px;
  background-color: #eeeeee;
}

@media screen and (min-width: 520px) {
  .main__banner .main__banner-image {
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .main__banner .main__banner-image {
    height: 450px;
  }
}
