#community {
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 10px;
  justify-content: center;
}

#community .sidebar {
  width: 20%;
  margin-right: 20px;
}

#community .mainboard {
  width: 80%;
}
.sidebar .sidebar__menu {
  width: 100%;
  min-width: 220px;
  padding: 20px;
  background-color: #efefef;
  border-right: 1px solid #bbbbbb;
}

.sidebar__menu-categories {
  margin-top: 20px;
}
.sidebar__menu-categories label {
  font-weight: 600;
}

.sidebar__menu .sidebar__menu-category {
  margin: 10px 0 10px 10px;
}

.sidebar__menu-category li {
  padding: 2px;
}

.mainboard {
  background-color: #efefef;
  height: 100%;
  width: 80%;
}
