#input {
  background-color: #efefef;
  height: 80vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input .input__box-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

#input .input__box {
  width: 100%;
  height: 500px;
  padding: 40px 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input__box-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.input__box .input__box-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #476098;
  height: 60px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}

.input__box .input__box-social i,
.input__box .input__box-social span {
  color: white;
}

.input__box .input__box-social span {
  display: inline-block;
  font-weight: 600;
  padding-top: 2px;
}

.input__box .input__box-social i {
  margin-right: 10px;
}

.input__box .input__box-guide {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #888888;
}

.input__box .input__box-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.input__box .input__box-form {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__box-form i {
  margin-right: 20px;
}

.input__box-form .input__box-form-input {
  width: 100%;
  padding-right: 34px;
  position: relative;
}
.input__box-form input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #eeeeee;
  font-size: 16px;
}

.input__box-form input:focus {
  outline: none;
}

.input__box-form input:focus ~ label,
.input__box-form input:valid ~ label {
  top: -5px;
  font-size: 12px;
  color: #481559;
}

.input__box-form input:focus ~ .bar:before,
.input__box-form input:focus ~ .bar:after {
  width: 50%;
}

.input__box-form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.4s ease;
  -moz-animation: inputHighlighter 0.4s ease;
  animation: inputHighlighter 0.4s ease;
}
.input__box-form label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 110px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input__box-form .bar {
  position: relative;
  display: block;
  width: 100%;
}

.input__box-form .bar:before,
.input__box-form .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #481559;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}
.input__box-form .bar:before {
  left: 50%;
}
.input__box-form .bar:after {
  right: 50%;
}

.input__box-inputBtns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__box-guideBtn {
  display: flex;
  align-self: flex-end;
  font-weight: 600;
  margin-bottom: 20px;
}

.input__box-guideBtn a {
  color: #9999cc;
}

.input__box-guideBtn a:hover {
  text-decoration: underline;
}

.input__box-inputBtn {
  width: 100%;
  margin-bottom: 20px;
  padding: 23px 15px;
  background-color: #9999cc;
  text-align: center;
  cursor: pointer;
}

.input__box-btnTitle {
  color: white;
  font-weight: 600;
}

.input__box-transferBtn a {
  color: #9999cc;
  font-weight: 600;
}

.input__box-transferBtn a:hover {
  text-decoration: underline;
}

@media (min-width: 520px) {
  #input .input__box {
    width: 500px;
  }

  .input__box .input__box-social,
  .input__box .input__box-inputBtn {
    width: 450px;
  }

  .input__box-form input {
    width: 350px;
  }
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
