#login {
  background-color: #efefef;
  height: 80vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .login__box-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

#login .login__box {
  width: 100%;
  height: 500px;
  padding: 25px;
  background-color: white;
}

.login__box .login__box-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #476098;
  height: 60px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}

.login__box .login__box-social i,
.login__box .login__box-social span {
  color: white;
}

.login__box .login__box-social span {
  display: inline-block;
  font-weight: 600;
  padding-top: 2px;
}

.login__box .login__box-social i {
  margin-right: 10px;
}
.login__box-container {
  width: 500px;
  height: 50vh;
  background-color: #8574b2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__box .login__box-rows {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__box .login__box-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__box .login__box-row .login__box-row-title {
  display: flex;
  align-items: center;
}
.login__box .login__box-row input {
  width: 60%;
  padding: 10px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 1.5s linear;
}

.login__box .login__box-row input:focus {
  outline: none;
  border: 1px solid #481559;
}

.login__box-columns {
  display: flex;
  justify-content: center;
}

@media (min-width: 520px) {
  #login .login__box {
    width: 500px;
  }

  .login__box .login__box-social {
    width: 450px;
  }
}
