#login {
  background-color: #efefef;
  height: 80vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .login__box-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

#login .login__box {
  width: 100%;
  height: 500px;
  padding: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__box .login__box-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #476098;
  height: 60px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
}

.login__box .login__box-social i,
.login__box .login__box-social span {
  color: white;
}

.login__box .login__box-social span {
  display: inline-block;
  font-weight: 600;
  padding-top: 2px;
}

.login__box .login__box-social i {
  margin-right: 10px;
}

.login__box .login__box-guide {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #888888;
}

.login__box .login__box-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.login__box .login__box-form {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.login__box-form i {
  margin-right: 20px;
}
.login__box-form input {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #eeeeee;
  font-size: 16px;
  transition: border-color 1s linear;
}

.login__box-form input:focus {
  outline: none;
  border-bottom: 2px solid #481599;
}

@media (min-width: 520px) {
  #login .login__box {
    width: 500px;
  }

  .login__box .login__box-social {
    width: 450px;
  }
}
