.login__box {
  background-color: #efefef;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__box .login__box-rows {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__box-columns {
  display: flex;
  justify-content: center;
}
