/* main__banner */

.main__banner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main__banner .main__banner-image {
  width: 100%;
  height: 30vh;
  background-color: #efefef;
}

/* products__section & service__section */

.products__section-header .products__section-title,
.service__section-header .service__section-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.products__section-columns,
.service__section-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.products__section-column,
.service__section-column {
  width: 33%;
  background-color: #efefef;
}

.products__section-column .products__section img,
.service__section-column .service__section img {
}

.products__section-column .products__section-title,
.service__section-column .service__section-title {
  font-weight: 600;
}
