/* header navigation */

.menu-bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding: 25px 15px 20px 15px;
  justify-content: space-between;
}

.menu-bar .menu-bar__tab {
  padding: 0 10px;
}

.menu-bar .menu-bar__tab-logo {
  color: blue;
  font-family: "Righteous", cursive;
  margin-left: 10px;
}

.menu-bar .menu-bar__tab-btns {
  margin-right: 10px;
}

.menu-bar .menu-bar__tab-btns a {
  display: inline-block;
  padding: 0 5px;
}

/* main__banner */

.main__banner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main__banner .main__banner-image {
  width: 100%;
  height: 30vh;
  background-color: blue;
}

/* main & footer */

main,
footer {
  padding: 0 10px;
}
/* products__section & service__section */

.products__section-header .products__section-title,
.service__section-header .service__section-title {
  text-align: center;
  font-weight: 600;
}

.products__section-columns,
.service__section-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* footer */

.bottom-footer .footer__top {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #efefef;
  padding-top: 10px;
}

.bottom-footer .footer__top .footer__column-title {
  font-weight: 600;
}

.bottom-footer .footer__bottom {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.bottom-footer .footer__bottom a {
  padding: 0 5px;
}
