/* header navigation */

.menu-bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  justify-content: space-between;
}

.menu-bar .menu-bar__tab {
  padding: 0 10px;
}

.menu-bar .menu-bar__tab-logo {
  color: #481559;
  font-family: "Righteous", cursive;
  margin-left: 10px;
}

.menu-bar .menu-bar__tab-btns {
  margin-right: 10px;
}

.menu-bar .menu-bar__tab-btns a {
  display: inline-block;
  padding: 0 5px;
  transition: all 0.1s linear;
}

.menu-bar .menu-bar__tab-btn:hover {
  color: #481559;
  font-weight: 600;
  transform: scale(1.1);
}
