#input .input__box.signup {
  width: 100%;
  height: 600px;
  padding: 40px 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
